button{
   
    border:none;
    cursor: grabbing;
    z-index: 1;
    background-color: $gold1;
    border-radius: 10px;
    padding: 1rem 2rem;
    font-size: 2rem;
    z-index: 1;
    transition: 0.3s;
  }

  .scrollButton{
    position: fixed;
    border:1px solid rgb(237, 83, 83);
    bottom:35vh;
    right: 2rem;  
    box-shadow: 2px 2px 8px(black);
  }

  #goBack{
    position: absolute;
    top:54vh;
    right:50vw;
    transform-origin: right;
    transform: translate(50%, 50%);
    &:hover{
        border: 1px solid $gold4;
        box-shadow: 2px 2px 4px black;
    }
  
  }

  .signInButton{
    position: absolute;
    background-color: $color2;
    right:50vw;
    transform-origin: right;
    transform: translate(50%, 50%);
     &:hover{
         border: 2px solid $color3;
         box-shadow: 2px 2px 4px black;
     }
   
  }

  .submitButton{
      margin:1rem auto ;
      padding: 0.5rem 1rem;
      background-color: $standoutOrange;
      &:hover{
        transform: scale(1.1);
        background-color: $standoutRed;
        box-shadow: 2px 2px 4px black;
    }
  }