.basicForm{
    font-family: 'Roboto Slab', serif;
    height: 100%;
    width: 100%;
    @include flex(column, center, flex-start);
    padding: 0.5rem;
    border-radius: 10px;
    background-color: $color2;
    color: white;
    font-size: 2rem;
    box-shadow: $boxShadow;
    
}

textarea{
    font-family: 'Roboto Slab', serif;
    font-size: 1.5rem;
}


label{
    margin: 0.5rem;
}

.registrationForm{
   border: 2px solid ; 
}

.formFields{
    width: 95%;
    @include flex(row, space-between, center);
    position: relative;
}
input{
    border-radius:2px;
    border-color: none;
    font-size: 1.6rem;
    padding: 0.2rem;
    width: 100% ;
    
}

input:focus{
    outline:2px solid white;
    // background-color: green;
}



.formValidation{
    pointer-events: none;
    position: absolute;
    right: 0;
    color: rgb(248, 55, 152);
    font-size: 1.7rem;
    font-weight: 700;
    // text-shadow: 2px 2px 4px rgba(3, 0, 0, 0.7), -2px -2px 4px rgba(3, 0, 0, 0.7);
}

.inputError{
    border: 2px solid red;
    // background-color: rgba(255, 62, 62, 0.3);
}


 
#basicForm{
    width: 100%;
    padding: 1rem;
    margin: 1rem 0;

   }
 

