$color1: rgb(3, 11, 44);
$color2: rgb(119, 119, 203);
$color3: rgb(168, 165, 229);
$gold1:rgb(250, 218, 75);
$gold2:rgb(235, 255, 59);
$gold3:rgb(249, 226, 49);
$gold4:rgb(251, 229, 169);
$gold5:rgb(255, 231, 48);
$standoutOrange:rgb(235, 163, 31);
$standoutRed:rgb(234, 84, 54);

$textColor:rgb(61, 61, 159);
$bacgrForText:rgb(202, 199, 254);

$boxShadow: 3px 3px 8px rgba(0, 0, 0, 0.5);

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800&display=swap');

@mixin flex($column, $justify, $align) {
    display: flex;
    flex-direction: $column;
    justify-content: $justify;
    align-items: $align;
  }