@import "variables.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 120vh;
    scroll-behavior: smooth;
    font-size: 62.5%;
    background-color: black;
    background: linear-gradient(180deg, 
    
    $color1 8%, 
    $color2 70%,
    $color3  130%, 
     

    ) no-repeat;
}



h2{
    color: transparent;
    font-size: 4.5rem;
    font-family: 'Roboto Slab', serif;
    font-weight: 800;
    background: linear-gradient(140deg,
        $gold1 5% 10%, 
        $gold2 12% 25%, 
        $gold3 27% 57%, 
        $gold4 57% 68%, 
        $gold5 68% 90%, 
        $gold2 92% 100%) no-repeat;
        background-size:200% 200%;
    -webkit-background-clip: text;
    animation: shimmer 1.5s linear infinite ;
}

@keyframes shimmer {
    0%{

        background-position:0% 10%;
    
      }
      20%{
       
        background-position: 20% 15%;
      }
      30%{
        
        background-position: 30% 20%;
      }
      50%{
      
        background-position: 50% 25%;
      }
      60%{
       
        background-position: 60% 30%;
      }
      80%{
        background-position: 70% 30%;
       
      }
      100%{
        background-position: 100% 50%;
      
      }
}

button{
  background-color: $gold1;
  border:none;
  border-radius: 10px;
  padding: 1rem 2rem;
  position: fixed;
  font-size: 2rem;
}

#singleProjectContainer, .container{
  position: relative;
  // background-color: red;
}

#goBack{
  position: absolute;
  top:54vh;
  right:50vw;
  cursor: grab;
  z-index: 1;
  transform-origin: right;
  transform: translate(50%, 50%);
}


.container {
    @include flex(row, center, center);
    flex-wrap: wrap;
    margin: 0;
  }
.container-column {
    @include flex(column, center, center);
    flex-wrap: wrap;
    margin: 0;
  }
 
  .thumbnail{
      margin: 2vh;
      width: 40vh;
      height: 30vh;
      pointer-events: none;
  }

  iframe{
      width: 90vw;
      height: 43vh;
      padding: 0.5rem;
      cursor: pointer;
      border: 2px solid rgb(58, 41, 190);
  }